*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  height:300vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(118, 92, 92);
  color: white;
  
}
